.main{
    min-height: 100vh;
    flex: 1;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 24px;
    font-weight: 500;
}
.nav img{
    width: 40px;
    cursor: pointer;
    border-radius: 50px;
}
.main-container{
 max-width: 900px;
 margin: auto;
}
.greet{
    margin: 50px 0px;
    font-size: 50px;
    padding: 20px;
    font-weight: 600;   
    color: #c4c7c4;
}
.greet span{
    background: -webkit-linear-gradient(16deg,#4b90ff,#ff5546);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.cards{
    display: flex;
    gap: 15px;
    justify-content: center;
    padding: 20px;
   
}
.card{
height: 200px;
width: 300px;
padding: 20px;
border-radius: 10px;
background: #f0f4f9;
position: relative;
cursor: pointer;

}
.card img{
    width: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: white;
    padding: 5px;
    border-radius: 50px;
}
.card p{
    font-size: 17px;
    color: #585858;
}
.card:hover{
    background: #dfe4ea;
}
.main-bottom{
    width: 100%;
    margin: auto;
    max-width: 900px;
    padding: 0px 20px;
    margin-top: 40px;
}
.search-box{
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background: #f0f4f9;
    border-radius: 50px;
}
.search-box img{
width: 24px;
border: none;
}
.search-box input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 8px;
    font-size: 18px;
}
.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}
.bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 500;
}

.result {
    padding: 0px 5%;
    max-height: 70vh;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}

.result-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-title img {
    width: 40px;
    border-radius: 50%;
}

.result-data {
    display: flex;
    align-items: start;
    gap: 20px;
}

.result-data img {
    width: 40px;
    border-radius: 50%;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader hr {
    border-radius: 4px;
    border: none;
    background-color: #f6f7f8;
    background: linear-gradient(to right, #9ed7ff, #ffffff, #9ed7ff);
    background-size: 800px 50px;
    height: 20px;
    animation: loader 3s infinite linear;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100% {
        background-position: 800px 0px;
    }
}

.result-data p {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.8;
}

@media (max-width: 600px) {
    .main-bottom input {
        flex: none;
        width: 150px;
    }
    .nav{
        margin: 10px 20px;
    }
    .main-bottom img {
        width: 20px;
    }
    .cards {
       display: none;
    }
    .search-box   {
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
    }
    .search-box div {
        gap: 5px;
    }
    .main-bottom{
        bottom: 0%;
        position: fixed;
    }
    .bottom-info{
        display: none;
    }
}
